<section class="section section-about">
  <header class="section-header">
    <h2>And finally&hellip;</h2>
  </header>
  <div class="section-content">
    <p>I’m a big music fan and love going to see bands play live locally. I'm also a life long fan of video games.</p>
    <p>More actively, I enjoy running, swimming and hiking the coast and countryside around Brighton.</p>
  </div>
</section>
