<div class="introduction">
  <p>Hi, I'm Rich. I'm a senior web developer with over 14 years of freelance expertise, working both for digital agencies and directly for organisations such as the BBC, Time Inc and Starling Bank.</p> 
  
  <p>My core expertise is front end development, but I've worked with a variety of surrounding technologies over my career and am able to adapt quickly to new technologies as required by a project.</p>
</div>
