<section class="section section-career">
  <header class="section-header">
    <h2>Recent work</h2>
    <p>Here’s what I’ve been doing over the last three years or so. My full career history is available on <a rel="external" href="https://www.linkedin.com/in/richard-cookson-219377b8">LinkedIn</a>.</p>
  </header>

  <div class="section-content">
    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Wordpress and Fractal style-guide updates for Hugo and Cat</h3>
        <div class="article-metadata">
          <a rel="external" href="https://www.hugoandcat.com">www.hugoandcat.com</a>
          <span class="duration">
            <time datetime="09-2020">September 2020</time> to <time datetime="10-2020">October 2020</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Worked on two projects. One to finish up a set of sites for a global PR agency, and another to implement client feedback on a style-guide for an entertainment corporation.</p>
        <ul class="list">
          <li>Carried out general bug fixes and improvements on a Wordpress Multisite set up in final stages of the project.</li>
          <li>Implemented client changes in the <a rel="external" href="https://fractal.build">Fractal</a> based style-guide, focused mainly around a complex vanilla JavaScript filtering component, and including adding functionality to support multiple languages.</li>
        </ul>
      </div>
    </article>
        
    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Web app optimisation for Hugo and Cat</h3>
        <div class="article-metadata">
          <a rel="external" href="https://www.hugoandcat.com">www.hugoandcat.com</a>
          <span class="duration">
            <time datetime="06-2020">June 2020</time> to <time datetime="08-2020">August 2020</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Carried out baseline performance analysis and recommended a course of action to decrease perceived and actual load times of a complex legacy web application for a major financial corporation.</p>
        <ul class="list">
          <li>Set up <a rel="external" href="https://speedcurve.com">SpeedCurve</a> and configured scripts to analyse different views within the application to allow performance to be monitored constantly.</li>
          <li>Carried out basic image and webfont optimisation strategies saving approximately 40% in static asset size pre-caching.</li>
          <li>Created a code splitting script, which separated pre-authentication and post-authentication CSS. This allowed the creation of a prototype loading a mininal CSS payload for user registration and login views, reducing the initial pre-cached CSS payload from 3.2MB to 420kB.</li>
          <li>Investigated and recommended techniques to preload JavaScript and the remaining application CSS in the background using dns-prefetch and preconnects among other techniques.</li>
        </ul>
      </div>
    </article>
    
    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Wordpress site for Megaslice</h3>
        <div class="article-metadata">
          <a rel="external" href="https://megaslice.uk">megaslice.uk</a>
          <span class="duration">
            <time datetime="05-2020">May 2020</time> to <time datetime="06-2020">June 2020</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>A simple one page site for a new technology consultancy powered by Wordpress.</p>
        <ul class="list">
          <li>Developed the front end of the sites from scratch as a bespoke Wordpress theme.</li>
          <li>Constructed custom Gutenberg blocks for the page using the Advanced Custom Fields plugin.</li>
          <li>Connected the site to the clients internal communications tool allowing tight integration of the contact form and live chat to their workflow.</li>
        </ul>
      </div>
    </article>
        
    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Converting Drupal sites to Wordpress for Tilt</h3>
        <div class="article-metadata">
          <a rel="external" href="https://www.wearetilt.com">www.wearetilt.com</a>
          <span class="duration">
            <time datetime="02-2020">February 2020</time> to <time datetime="04-2020">April 2020</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Reworking three Drupal websites to use Wordpress, while retaining look and feel and functionality.</p>
        <ul class="list">
          <li>Developed front end of the sites from scratch as Wordpress themes.</li>
          <li>Architected Custom Post Types and Custom Taxonomies.</li>
          <li>Constructed custom Gutenberg blocks and other functionality using Advanced Custom Fields.</li>
          <li>Set up and documented local development environment.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Working on legacy applications for Hugo and Cat</h3>
        <div class="article-metadata">
          <a rel="external" href="https://www.hugoandcat.com">www.hugoandcat.com</a>
          <span class="duration">
            <time datetime="11-2019">November 2019</time> to <time datetime="02-2020">February 2020</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Worked on two projects. One to assist in incorporating a complex legacy web application into a modern site for a major financial corporation, and another to reverse engineer and document a store locator application allowing a development version to be run and modifications to be made.</p>
        <ul class="list">
          <li>Aided lead developer in working with US and India-based management and development teams to integrate the legacy application into the more modern site.</li>
          <li>Utilised Docker to mock up original server infrastructure used by the store locator application so modifications could be made.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Redesign and improvements to Samsung Backstage for Iris Worldwide</h3>
        <div class="article-metadata">
          <a rel="external" href="http://www.iris-worldwide.com">www.iris-worldwide.com</a>
          <span class="duration">
            <time datetime="04-2019">April 2019</time> to <time datetime="09-2019">September 2019</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Took over development of numerous content microsite builds for <a rel="external" href="https://www.samsungbackstage.co.uk">Samsung Backstage</a>, a portal for sales staff to learn about Samsung's range of mobile devices.</p>
        <ul class="list">
          <li>Audited existing microsite code which was based on Node, Gulp and Bootstrap.</li>
          <li>Improved tooling and framework for microsites to improve reusability and optimise page performance.</li>
          <li>Supported lead front end developer and Moodle developers on the redesign of Samsung Backstage.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Lead developer creating a corporate web portal for Tilt</h3>
        <div class="article-metadata">
          <a rel="external" href="https://www.wearetilt.com">www.wearetilt.com</a>
          <span class="duration">
            <time datetime="04-2018">April 2018</time> to <time datetime="03-2019">March 2019</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Lead developer in a team creating an onboarding portal and associated sites for a large multinational professional services client.</p>
        <ul class="list">
          <li>Created initial tooling stack based on Node and Gulp.</li>
          <li>Assisted with management of development team and code review processes.</li>
          <li>Worked closely with CMS developers to integrate produced templates.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Vue.js web application development for Lumesse</h3>
        <div class="article-metadata">
          <a rel="external" href="https://www.lumesselearning.com">www.lumesselearning.com</a>
          <span class="duration">
            <time datetime="03-2018">March 2018</time> to <time datetime="04-2018">April 2018</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Responsible for development of a Vue.js based learning application based on Lumesse internal framework.</p>
        <ul class="list">
          <li>Developed a <a rel="external" href="https://vuejs.org">Vue.js</a> web app based on designs, coding custom components and integrating existing ones.</li>
          <li>Fixed bugs and made content adjustments to several other applications.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">MERN and Wordpress application development for Brilliant Noise</h3>
        <div class="article-metadata">
          <a rel="external" href="https://www.brilliantnoise.com">www.brilliantnoise.com</a>
          <span class="duration">
            <time datetime="09-2017">September 2017</time> to <time datetime="03-2018">March 2018</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Working as a senior software developer, I was responsible for developing and expanding several internal software projects, as well as aiding with client work.</p>
        <ul class="list">
          <li>Led a project to create a content organisation application using <a rel="external" href="https://reactjs.org">React</a>, <a rel="external" href="https://nodejs.org">Node</a>, <a rel="external" href="https://expressjs.com">Express</a> and <a rel="external" href="https://www.mongodb.com">MongoDB</a>.</li>
          <li>Customised and extended the REST API of a headless Wordpress multisite installation, providing content to custom front end interfaces built with Express and Handlebars.</li>
          <li>Expanded and improved the same Wordpress sites content editing functions using <a rel="external" href="https://www.advancedcustomfields.com">ACF Pro</a>.</li>
          <li>Reverse engineered existing web applications, fixing bugs and creating technical documentation for them.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Site improvements and maintenance for Starling Bank</h3>
        <div class="article-metadata">
          <a rel="external" href="https://www.starlingbank.com">www.starlingbank.com</a>
          <span class="duration">
            <time datetime="06-2017">June 2017</time> to <time datetime="09-2017">September 2017</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Took over responsibility for the marketing and community sites for Starling Bank while a new permanent developer was hired.</p>
        <ul class="list">
          <li>Worked with the marketing team on <a rel="external" href="https://www.advancedcustomfields.com">Advanced Custom Fields</a> customisations and updates to the Wordpress based Starling Bank site.</li>
          <li>Advised and aided on performance and SEO optimisation improvement work.</li>
          <li>Implemented changes and fixes to the Discourse community site.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Rebrand implementation and site maintenance for Pegasus</h3>
        <div class="article-metadata">
          <a rel="external" href="https://www.thisispegasus.co.uk">www.thisispegasus.co.uk</a>
          <span class="duration">
            <time datetime="05-2017">May 2017</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>A short contract to help cover the maintenance of existing client sites and aid with the implementation of the companies rebranding.</p>
        <ul class="list">
          <li>Worked on updates to multiple Wordpress sites using plugins such as <a rel="external" href="https://www.upstatement.com/timber">Timber</a>, <a rel="external" href="https://www.advancedcustomfields.com">Advanced Custom Fields</a> and alternative code structures such as <a rel="external" href="https://roots.io/bedrock">Bedrock</a>.</li>
          <li>Partnered with a designer to implement the company rebrand on the intranet, and their blog <a rel="external" href="http://www.pegasuspulse.com">Pegasus Pulse</a> - improved the layout and responsive code.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Wordpress customisation and theming for Tilt</h3>
        <div class="article-metadata">
          <a rel="external" href="https://wearetilt.com/">www.wearetilt.com</a>
          <span class="duration">
            <time datetime="04-2017">April 2017</time> to <time datetime="05-2017">May 2017</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Brought in to cover holiday leave, I worked on Wordpress site builds for two client projects both of which are now live.</p>
        <ul class="list">
          <li>Utilised the <a rel="external" href="https://www.advancedcustomfields.com">Advanced Custom Fields</a> plugin amongst others, to create rich, reusable content modules in Wordpress.</li>
          <li>Created front end templates using PHP and the Wordpress template hierarchy.</li>
          <li>Implemented responsive layouts from designs provided in Adobe XD.</li>
          <li>Worked closely with other developers on these projects to ensure work was carried out efficiently and to deadline.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Brand style-guide app update for Futurebrand</h3>
        <div class="article-metadata">
          <a rel="external" href="http://www.futurebrand.com">www.futurebrand.com</a>
          <span class="duration">
            <time datetime="03-2017">March 2017</time> to <time datetime="04-2017">April 2017</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Working on Futurebrand’s style-guide application, based on Craft CMS.</p>
        <ul class="list">
          <li>Created responisve layouts for new sections of the application from Sketch designs in Zeplin.</li>
          <li>Templatised responisve layouts in Twig.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">University of Sussex redesign</h3>
        <div class="article-metadata">
          <a rel="external" href="http://www.sussex.ac.uk">www.sussex.ac.uk</a>
          <span class="duration">
            <time datetime="12-2016">December 2016</time> to <time datetime="02-2017">February 2017</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Continuing the rolling redesign of the University’s site, this time focusing on the complex course information pages.</p>
        <ul class="list">
          <li>Produced the intial course template from Sketch designs utilising Foundation 6 components and custom code where necessary, and refined them based on UX testing.</li>
          <li>Carried out site performance optimisation, removing and refactoring legacy code as necessary.</li>
          <li>Upgraded the site core to the latest version of Foundation 6 to take advantage of new responsive components.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Brand style-guide app update for Futurebrand</h3>
        <div class="article-metadata">
          <a rel="external" href="http://www.futurebrand.com">www.futurebrand.com</a>
          <span class="duration">
            <time datetime="12-2016">December 2016</time> to <time datetime="01-2017">January 2017</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Working on Futurebrand’s style-guide application, based on Craft CMS.</p>
        <ul class="list">
          <li>Updated Grunt to separate existing jQuery based JavaScript code from new React based components.</li>
          <li>Re-organised SASS code to make implementation of new brand styles an easier process.</li>
          <li>Implemented new brands and reworked some Twig templates to allow custom features.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Team lead on large content site redesign for Futurebrand</h3>
        <div class="article-metadata">
          <a rel="external" href="http://www.futurebrand.com">www.futurebrand.com</a>
          <span class="duration">
            <time datetime="09-2016">September</time> to <time datetime="12-2017">December 2016</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Replaced the lead front end developer midway through the project, I completed the construction of components based on Bootstrap 3 and accompanying style-guide.</p>
        <ul class="list">
          <li>Led a small team of two other front end developers in continuing the build.</li>
          <li>Worked with the project manager to organise tasks and attended daily Scrum remotely, utilising tools such as Slack to keep in touch with all participants in the project.</li>
          <li>Re-organised deployment of components and style-guide using Springloops and management of the project Git repository.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">University of Sussex redesign</h3>
        <div class="article-metadata">
          <a rel="external" href="http://www.sussex.ac.uk">www.sussex.ac.uk</a>
          <span class="duration">
            <time datetime="07-2016">July</time> to <time datetime="08-2017">August 2016</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Principal front end developer working on templates for a rolling redesign of the University site focused on improving recruitment of new students.</p>
        <ul class="list">
          <li>Upgraded core code to Foundation 6 and reorganised code to create new components based on the atomic design methodology.</li>
          <li>Reworked legacy JavaScript to be more modular and utilise Foundation components more readily.</li>
          <li>Implemented new designs based on a responsive, mobile first perspective.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Animation to show application workflow for Typesetr</h3>
        <div class="article-metadata">
          <a rel="external" href="http://www.typesetr.com">www.typesetr.com</a>
          <span class="duration">
            <time datetime="06-2016">June 2016</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Created a complex animation to show the purpose of a publishing application utilising Greensock JavaScript animation library.</p>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Home page redesign and dev-ops consultation for DeWynters</h3>
        <div class="article-metadata">
          <a rel="external" href="http://www.dewynters.com">www.dewynters.com</a>
          <span class="duration">
            <time datetime="05-2016">May 2016</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Covering for a lack of development staff internally, I worked on a redesign of the DeWynters home page and advised on new development systems to replace their aging Dreamweaver/Adobe workflow.</p>
        <ul class="list">
          <li>Advised on internal procedures for source code control using Git and build automation using Grunt.</li>
          <li>Produced initial version of new responsive DeWynters home page and handed it over for testing and completion by internal team.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Client pitch microsite for Mediacom</h3>
        <div class="article-metadata">
          <a rel="external" href="http://www.mediacom.com">www.mediacom.com</a>
          <span class="duration">
            <time datetime="04-2016">April 2016</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Constructed responsive microsite, working closely with project managers and designer, to introduce Mediacoms client to the marketing team they proposed for a pitch.</p>
        <ul class="list">
          <li>Set up production server from scratch on Linode hosting platform, and sourced domain name for the site.</li>
          <li>Implemented simple PHP access control.</li>
        </ul>
      </div>
    </article>

    <article class="article article-work">
      <header class="article-header">
        <h3 class="article-heading">Wallpaper.com navigation redesign for Time</h3>
        <div class="article-metadata">
          <a rel="external" href="http://www.wallpaper.com">www.wallpaper.com</a>
          <span class="duration">
            <time datetime="01-2016">January</time> to <time datetime="03-2016">March 2016</time>
          </span>
        </div>
      </header>

      <div class="article-content">
        <p>Built several possible versions of a new responsive navigation system for Wallpaper.com for UX testing, with final result being deployed. I also carried out maintenance work on other Time Inc. properties.</p>
        <ul class="list">
          <li>Worked with Vagrant based development environment and built skills in setting up Vagrant VM’s from scratch.</li>
          <li>Utilised Jenkins and Git in a Continuous Integration environment for updating sites with fixes and enhancements.</li>
        </ul>
      </div>
    </article>
  </div>
</section>
