//
// Articles
// -----------------------------------------------------------------------------

.article {
  margin-bottom: 2rem;

  @media print {
    margin-bottom: 1rem;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &-header {
    margin-bottom: 0.5rem;
  }

  &-heading {
    margin-bottom: 0.25rem;
  }

  &-metadata {
    @include respond-above(medium) {
      @include group-horizontal();

      .duration {
        margin-left: 0.5rem;
      }
    }
  }

  &-content {
    p {
      margin-bottom: 0.5rem;

      @media print {
        font-size: 0.875rem;
      }
    }
  }
}
