//
// Icons
// -----------------------------------------------------------------------------

$icons: (
  arrow: ( is-interactive: false ),
  email: ( is-interactive: true ),
  gitlab: ( is-interactive: false),
  telephone: ( is-interactive: true ),
  twitter: ( is-interactive: true )
);

.icon {
  position: relative;

  &:before {
    background-repeat: no-repeat;
    display: inline-block;
  }
}

// Dynamically build icon classes
@each $i in $icons {
  .icon-#{nth($i, 1)} {
    &:before {
      @include set-svg(#{nth($i, 1)});
      content: '';
    }

    @if map-get(nth($i, 2), is-interactive) == true {
      &:active, &:focus, &:hover {
        &:before {
          @include set-svg(#{nth($i, 1)}-hover);
        }
      }
    }
  }
}
