//
// Nav
// ---------------------------------------------------------------------------------

.nav {
  margin-bottom: 1.5rem;

  @include respond-above(medium) {
    margin-bottom: 2rem;
  }

  @media print {
    margin-bottom: 0.5rem;
  }

  .nav-list {
    @include respond-above(medium) {
      @include group-horizontal();
    }

    @media print {
      @include group-horizontal();
    }
  }

  li {
    margin-bottom: 0.5rem;

    @include respond-above(medium) {
      margin-bottom: 0;
    }
  }

  a {
    align-items: center;
    display: flex;
    margin-right: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    vertical-align: middle;

    &:before {
      background-position: left center;
      height: 1.5rem;
      margin-right: 0.25rem;
      width: 1.5rem;
    }
  }

  //   // @media print {
  //   //   margin-left: su(1);
  //   //   margin-right: 0;
  //   //   padding: su(1) 0 su(1) su(3);
  //   // }
  // }
}
