//
// Tag
// -----------------------------------------------------------------------------

.tag {
  margin: 0.25rem;

  a {
    color: set-color(neutral, white);
    display: block;
    min-width: 5rem;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;

    @media print {
      padding: 0.25rem 0.5rem;
    }
  }
}
