//
// Floating Action Button
//
// 1. Make Mixin to allow easier setting of layer heights for materials
// 2. Required to layer over the hidden text on parent
// ---------------------------------------------------------------------------------

.top {
  height: 50vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;

  .button-top {
    @include animation-warp(0, 0.25s, $direction: out);
    background-color: set-color(brand, accent);
    border-radius: 3.5rem;
    bottom: 1.5rem;
    box-shadow: 0 0.4375rem 0.3125rem -0.25rem rgba(0, 0, 0, 0.15); // [ToDo]
    display: block;
    height: 3.5rem;
    position: fixed;
    right: 1.5rem;
    width: 3.5rem;
    z-index: 1;

    &:before {
      @include animation-spin(0, 0.25s, $direction: counter-clockwise);
      background-position: center;
      height: 100%;
      width: 100%;
    }

    &.display {
      @include animation-warp(0, 0.25s, $direction: in);

      &:before {
        @include animation-spin(0, 0.25s, $direction: clockwise);
      }
    }
  }

  @media print {
    display: none;
  }

  // JS on
  // .js & {
  //   .button-top {
  //     display: block;
  //   }
  // }
}
