//
// Respond Above
// Applies CSS code contained within it on viewport sizes above
// breakpoint variable or size.
// Usage: @include respond-above(small) { CSS }
// -----------------------------------------------------------------------------

@mixin respond-above($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}
