//
// All: Global layout
// -----------------------------------------------------------------------------

.page {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;

  @include respond-above(medium) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    max-width: 55rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media print {
    margin: 0;
    max-width: none;
  }
}

.header {
  &:before {
    @include respond-below(medium) {
      margin-bottom: 1rem;
      margin-left: auto;
      margin-right: auto;
    }

    @include respond-above(medium) {
      left: 0;
      position: absolute;
    }
  }
}

.nav,
.name,
.main,
.introduction {
  @include respond-above(medium) {
    margin-left: 6.5rem;
  }

  @media print {
    margin-left: 0;
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.section-skills {
  @include respond-below(medium) {
    order: 2;
  }
}

.section-career {
  @include respond-below(medium) {
    order: 1;
  }
}

.section-about {
  @include respond-below(medium) {
    order: 3;
  }
}
