//
// Icons
// - Includes PNG path for fallback for older browsers
// - Use https://jakearchibald.github.io/svgomg/ to compress
//   the SVGs.
// -----------------------------------------------------------------------------

$svgs: (
  arrow: (
    svg: url('data:image/svg+xml,%3Csvg fill=\'%23FFF\' height=\'48\' viewBox=\'0 0 24 24\' width=\'48\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath d=\'M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z\'/%3E%3Cpath d=\'M0 0h24v24H0z\' fill=\'none\'/%3E%3C/svg%3E')
  ),
  email: (
    svg: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'20\' height=\'16\' viewBox=\'0 0 20 16\'%3E%3Cpath fill=\'%232B98F0\' d=\'M18 0H2C.9 0 .01.9.01 2L0 14c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zm0 14H2V4l8 5 8-5v10zm-8-7L2 2h16l-8 5z\'/%3E%3C/svg%3E')
  ),
  email-hover: (
    svg: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'20\' height=\'16\' viewBox=\'0 0 20 16\'%3E%3Cpath fill=\'%23FF5722\' d=\'M18 0H2C.9 0 .01.9.01 2L0 14c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zm0 14H2V4l8 5 8-5v10zm-8-7L2 2h16l-8 5z\'/%3E%3C/svg%3E')
  ),
  gitlab: (
    svg: url('/assets/img/svg/gitlab.svg')
  ),
  telephone: (
    svg: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'18\' height=\'21\' viewBox=\'0 0 18 21\'%3E%3Cpath fill=\'%23007AFF\' d=\'M16.31 6.395l-.9.955c1.62 1.718 1.62 4.39 0 6.205l.9.954c2.253-2.196 2.253-5.824 0-8.115zM14.418 8.4l-.9.955c.45.668.45 1.527 0 2.195l.9.955c1.08-1.146 1.08-2.864 0-4.105zM10.814 0H1.802C.812 0 0 .86 0 1.91v17.18C0 20.14.81 21 1.802 21h9.012c.99 0 1.802-.86 1.802-1.91V1.91c0-1.05-.81-1.91-1.802-1.91zm0 18.136H1.802V2.864h9.012v15.272z\'/%3E%3C/svg%3E')
  ),
  telephone-hover: (
    svg: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'18\' height=\'21\' viewBox=\'0 0 18 21\'%3E%3Cpath fill=\'%23FF5722\' d=\'M16.31 6.395l-.9.955c1.62 1.718 1.62 4.39 0 6.205l.9.954c2.253-2.196 2.253-5.824 0-8.115zM14.418 8.4l-.9.955c.45.668.45 1.527 0 2.195l.9.955c1.08-1.146 1.08-2.864 0-4.105zM10.814 0H1.802C.812 0 0 .86 0 1.91v17.18C0 20.14.81 21 1.802 21h9.012c.99 0 1.802-.86 1.802-1.91V1.91c0-1.05-.81-1.91-1.802-1.91zm0 18.136H1.802V2.864h9.012v15.272z\'/%3E%3C/svg%3E')
  ),
  twitter: (
    svg: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'20\' height=\'16\' viewBox=\'0 0 20 16\'%3E%3Cpath fill=\'%23007AFF\' d=\'M6.521 15.62c7.077 0 10.947-5.863 10.947-10.946 0-.167 0-.333-.01-.498.752-.544 1.402-1.218 1.918-1.99-.702.31-1.447.514-2.21.605.804-.48 1.405-1.236 1.692-2.127-.755.448-1.582.764-2.443.933C15.222.33 13.327.018 11.792.84c-1.534.82-2.327 2.57-1.934 4.265C6.765 4.95 3.883 3.49 1.93 1.085c-1.02 1.758-.5 4.007 1.19 5.136-.61-.017-1.21-.182-1.745-.48v.048c0 1.83 1.29 3.41 3.086 3.77-.565.156-1.16.178-1.736.067.504 1.567 1.948 2.64 3.594 2.672-1.362 1.07-3.045 1.65-4.777 1.65-.305 0-.61-.02-.915-.056 1.76 1.13 3.806 1.73 5.896 1.726\'/%3E%3C/svg%3E')
  ),
  twitter-hover: (
    svg: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'20\' height=\'16\' viewBox=\'0 0 20 16\'%3E%3Cpath fill=\'%23FF5722\' d=\'M6.521 15.62c7.077 0 10.947-5.863 10.947-10.946 0-.167 0-.333-.01-.498.752-.544 1.402-1.218 1.918-1.99-.702.31-1.447.514-2.21.605.804-.48 1.405-1.236 1.692-2.127-.755.448-1.582.764-2.443.933C15.222.33 13.327.018 11.792.84c-1.534.82-2.327 2.57-1.934 4.265C6.765 4.95 3.883 3.49 1.93 1.085c-1.02 1.758-.5 4.007 1.19 5.136-.61-.017-1.21-.182-1.745-.48v.048c0 1.83 1.29 3.41 3.086 3.77-.565.156-1.16.178-1.736.067.504 1.567 1.948 2.64 3.594 2.672-1.362 1.07-3.045 1.65-4.777 1.65-.305 0-.61-.02-.915-.056 1.76 1.13 3.806 1.73 5.896 1.726\'/%3E%3C/svg%3E')
  )
);
